<div class="groups-bar ui left vertical inverted sidebar menu">
  <h3 class="ui item inverted grey header">
    <i class="users icon"></i>
    <span>Groups</span>
    {{#link-to "homes" class="edit"}}
      <span {{action 'toggleGroupsBar'}}>edit</span>
    {{/link-to}}
  </h3>
  {{#each session.authUser.homes as |home| }}
    <div {{action 'toggleGroupsBar'}}>
      {{#link-to groupPath home.id class='item' }}
        {{home.name}}
      {{/link-to}}
    </div>
  {{/each}}
</div>
{{payments-list
  invoices=invoices
  session=session
  removeInvoice="removeInvoiceFromPayments"
  paymentComplete='paymentComplete'}}
<div class="global-content pusher pushable">
  <div class="ui global-action-bar bottom sidebar vertical fluid menu" {{action 'closeActionBar'}}>
    {{component
      actionMenuComponent
      model=actionMenuModel
      addInvoiceToPayments='addInvoiceToPayments'
    deleteTransaction='deleteTransaction'}}
  </div>
  {{user-top-bar
    session=session
    toggleUserBar='toggleUserBar'
    toggleGroupsBar='toggleGroupsBar'
    logout='invalidateSession'}}
  <div class="ui user-bar top inverted sidebar vertical menu" {{action 'toggleUserBar'}}>
    {{#link-to 'settings' class="item" }}
      Settings
    {{/link-to}}

    <div class="link item" {{action 'invalidateSession'}}>
      Logout
    </div>
  </div>
  {{partial "control_panel"}}
  <div class="main-content-wrapper pusher">
    <div class="app-content-wrapper">
      {{outlet}}
    </div>
  </div>
</div>
