<div class="label image">
  {{#if user.image}}
    <img src={{userImage}} />
  {{else}}
    <i class="circular user icon">
    </i>
  {{/if}}
</div>
<div class="content">
  <div class="item-wrapper">
    <div class="info">
      <div class="summary">
        {{displayName}}

        {{actionName}}

        {{item.title}}
        <span class="date">
          {{fuzzy-time item.date}}
        </span>
      </div>
      <div class="right-floated" {{action 'showActions' item}}>
        <i class="vertical ellipsis large link circular icon"></i>
      </div>
      <div class="extra text">
        {{item.description}}
      </div>
      <div class="meta">
        <a class="like">
          <i class="like icon">
          </i>
          4 Likes
        </a>
      </div>
    </div>
    <div class="actions">
      {{#if payableInvoice}}
        <div  class="ui green inverted segment pay">
          <span>
            Pay
          </span>
        </div>
      {{/if}}
    </div>
  </div>
</div>
