
<div class="column hidden content" {{action "hideOptions" on="tap"}}>
  <div class="ui mini red button" {{action "remove" invoice}}> Remove </div>
</div>
<div class="column visible content" {{action "showOptions" on="panLeft"}}>
  <div class="ui center aligned grid">
    <div class="four wide column">
      {{user-image user=user}}
    </div>
    <div class="seven wide title column">
      <div>{{invoice.transaction.title}}</div>
      <div>{{invoice.transaction.description}}</div>
    </div>
    <div class="five wide column">
      <div class="currency">{{format-money invoice.amount}}</div>
      <div class="ui payment toggle checkbox">
        {{input type="checkbox" name="paymentMethod" checked=paymentMethod}}
        <label>
          <i class="dollar icon"></i>
        </label>
      </div>
    </div>
  </div>
</div>
