<div class="ui dimmer">
  <div class="content">
    <div class="centered">
      <div>
        <i class="checkmark circle huge green icon"></i>
      </div>
      <div>
        <h2 class="ui inverted header">Paid!</h2>
      </div>
    </div>
  </div>
</div>
<div class="payments-list">
  <div class="status">
    <span>TOTAL</span>
    <span class="amount">{{format-money invoicesSum}}</span>
  </div>
  {{#each invoices as |inv|}}
    {{payments-list-invoice invoice=inv user=currentSession.authUser remove='removeInvoice' togglePaymentMethod='togglePaymentMethod'}}
  {{/each}}
  <div class={{if loading "ui loading disabled button positive huge" "ui button positive huge"}} {{action 'sendPayment'}}>
    Pay
  </div>
</div>
{{#if invoices.size}}
  <div class="ui right attached icon basic button payments-bar-tab" {{action 'toggleBar'}}>
    <i class="icon list layout"></i>
    <div class="floating ui mini blue label">{{invoices.size}}</div>
  </div>
{{/if}}
