<div class="feed-wrapper">
  <div class="feed-panel">
    <div class="left">
    </div>
    <div class="right">
      <div class="ui icon basic buttons small right floated">
        {{feeds/audience-button
          audienceScope=audienceScope
          index=ENUMS.FeedAudienceScope.Me
          iconClass='user icon'
          changeAudience=(action 'changeAudience')}}
        {{feeds/audience-button
          audienceScope=audienceScope
          index=ENUMS.FeedAudienceScope.Home
          iconClass='users icon'
          changeAudience='changeAudience'
          disabled=true}}
        {{feeds/audience-button
          audienceScope=audienceScope
          index=ENUMS.FeedAudienceScope.Global
          iconClass='globe icon'
          changeAudience='changeAudience'
          disabled=true}}
      </div>
    </div>
  </div>
  {{#if hasStream}}
    <div class="ui feed">
      {{#each stream as |item|}}
        {{feed-item item=item openActionBar=(action "openActionBar") user=session.authUser}}
      {{/each}}
    </div>
  {{else}}
    <div class="empty-feed ui yellow message">
      <div class="header">
        You have nothing in your feed!
      </div>
      <p>Transactions and chores will show up here. Click {{link-to 'here' 'create.transaction'}} to add something :)</p>
    </div>
  {{/if}}
</div>
