<div class="ui form new-home">
  <div class="field">
    <label>Name</label>
    <div class="ui left corner labeled input">
      {{input type="text" name="name" value=name class="form-control" tabindex="1" placeholder="e.g. My Home"}}
      <div class="ui green left corner label">
        <i class="asterisk icon">
        </i>
      </div>
    </div>
  </div>
  <h4 class="ui dividing headerLocation">
  </h4>
  <div class="field">
    <label>
      Address
    </label>
    <div class="ui fluid input">
      {{input type="text" name="address" value=address class="form-control" tabindex="2" placeholder="e.g. 99 Great One Ln Apt #1"}}
    </div>
  </div>
  <div class="three fields">
    <div class="field">
      <label>
        City
      </label>
      {{input type="text" name="city" value=city class="form-control" tabindex="3" placeholder="e.g. New York"}}
    </div>
    <div class="field">
      <label>
        State
      </label>
      <div tabindex="4" class="ui state-dropdown selection dropdown">
        <input type="hidden" name="state" />
        {{input type="hidden" name="state" value=state}}
        <div class="default text">
          ...
        </div>
        <i class="dropdown icon">
        </i>
        <div class="menu">
          {{log model}}
          {{#each enums.USStates as |state|}}
            <div data-value={{state.alpha-2}} class="item">
              {{state.alpha-2}} - {{state.name}}
            </div>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="field">
      <label>
        Zip
      </label>
      <div class="ui left corner labeled input">
        {{input type="text" name="zip" value=zip class="form-control" tabindex="5" placeholder="e.g. 99999"}}
        <div class="ui green left corner label">
          <i class="asterisk icon">
          </i>
        </div>
      </div>
    </div>
  </div>
  <h4 class="ui dividing headerHome">
    info
  </h4>
  <div class="two fields">
    <div class="field">
      <label>
        # of Roommates
      </label>
      <div class="ui left corner labeled input">
        {{input type="text" name="roommateCount" value=roommateCount class="form-control" tabindex="6" placeholder="e.g. 3"}}
        <div class="ui green left corner label">
          <i class="asterisk icon">
          </i>
        </div>
      </div>
    </div>
    <div class="field">
      <label>
        Rent
      </label>
      <i class="why-rent">
        question.icon small data-content="For rent payment features."
      </i>
      <div class="ui left corner labeled input">
        {{input type="text" name="rentPerMonth" value=rentPerMonth class="form-control" tabindex="7" placeholder="e.g. 2000"}}
        <div class="ui green left corner label">
          <i class="asterisk icon">
          </i>
        </div>
      </div>
    </div>
  </div>
  <div class="two fields">
    <div class="field">
      <label>
        Password
      </label>
      <div class="ui left corner labeled input">
        {{input type="password" name="password" value=password class="form-control" tabindex="8" placeholder="Password 8-12 characters"}}
        <div class="ui green left corner label">
          <i class="asterisk icon">
          </i>
        </div>
      </div>
    </div>
    <div class="field">
      <label for="">
        Confirm
      </label>
      <div class="ui left corner labeled input">
        {{input name="confirm" type="password" class="form-control" tabindex="9" placeholder="Confirm password"}}
        <div class="ui green left corner label">
          <i class="asterisk icon">
          </i>
        </div>
      </div>
    </div>
  </div>
  <div class="submit-container">
    <div class="ui buttons">
      <div class="ui button" {{action 'cancel'}}>
        Cancel
      </div>
      <div class="or">
      </div>
      <div tabindex="10" class="ui submit positive button">
        Submit
      </div>
    </div>
  </div>
</div>
