<div class="feed-wrapper">
  <div class="ui grid filters">
    <div class="row">
      <div class="eight wide column">
        <div class="ui mini icon input">
          <input type="text" placeholder="Search mini" />
          <i class="search icon">
          </i>
        </div>
      </div>
      <div class="four wide column">
      </div>
      <div class="four wide column">
        <div class="ui icon basic buttons small right floated">
          {{feeds/audience-button audienceScope=audienceScope index=ENUMS.FeedAudienceScope.Me iconClass='user icon'}}
          {{feeds/audience-button audienceScope=audienceScope index=ENUMS.FeedAudienceScope.Home iconClass='users icon'}}
          {{feeds/audience-button audienceScope=audienceScope index=ENUMS.FeedAudienceScope.Global iconClass='globe icon'}}
        </div>
      </div>
    </div>
  </div>
  {{#if hasStream}}
    <div class="ui feed">
      {{#each stream as |item|}}
        {{feed-item item=item openActionBar="openActionBar" user=session.authUser}}
      {{/each}}
    </div>
  {{else}}
    <div class="row">
      <div class="event center aligned column">
        Your feed is empty!  Add a transaction or a job to see items here :)
      </div>
    </div>
  {{/if}}
</div>
