<div class="form-container">
  <div class="form-wrapper">
    <h1 class="cover-heading">Settld</h1>
    <form class="ui form segment new_user" {{action 'authenticate' on='submit'}}>
      <div class="field">
        <div class="ui huge fluid icon input">
          {{input value=identification placeholder='Email' name="identification" class="form-control" autofocus="autofocus"}}
          <i class="mail icon"></i>
        </div>
      </div>
      <div class="field">
        <div class="ui huge fluid icon input">
          {{input value=password type='password' class="form-control" placeholder="Enter Password" name="password" }}
          <i class="lock icon"></i>
        </div>
      </div>
      <div class="field">
        <button type="submit" class="ui fluid submit button">Login</button>
      </div>
      <div class="field">
        <a id="fbLogin" class="ui facebook fluid button" href={{APP_ENV.FACEBOOK_LOGIN_URL}}><i class="facebook icon"></i> Facebook</a>
      </div>
      <div class="field">
        <a id="venmoLogin" class="ui button fluid twitter" href={{APP_ENV.VENMO_LOGIN_URL}}><i class="vimeo icon"></i> Venmo</a>
      </div>
      <div class="field">
        {{#link-to 'register' class="ui fluid button"}}Register{{/link-to}}
      </div>
    </form>
  </div>
</div>
